<?xml version="1.0" encoding="utf-8" ?>
<Config>
	<Level>
		<Mesh>
			<Resolution parallel="32" normal="24"/>
			<Radius>5.0</Radius>
			<Material path="Materials/TunnelMaterial"/>
		</Mesh>
		<Obstacles>
			<Density>2.0</Density>
		</Obstacles>
		<Colors>
			<Default>
				<Color name="ObstacleColor">FF553200</Color>
				<Color name="ForegroundColor">FF553200</Color>
				<Color name="BackgroundColor">00000000</Color>
			</Default>
		</Colors>
	</Level>

	<Player>
		<Camera>
			<FieldOfView>100.0</FieldOfView>
			<!--Smoothing Distance for the Up-Vector-->
			<SampleDstance>1.0</SampleDstance>
			<!-- Default speed at which the camera flies through the level -->
			<Speed>20</Speed>
		</Camera>
		<!--Stats of the players avatar = stats of the pawn-->
		<Pawn>
			<Speed>5.0</Speed>
		</Pawn>
	</Player>
</Config>